{% extends 'main.html' %}

{% block content %}
<!--be mindful to fix the indentation, the commented out shit can be left as it is but just so yuo know what is important-->
<style> 
    input[type='text'],
    input[type='email'],
    input[type='password']/*,
     input.input[type='number'],
    textarea.input { */{
    min-width: 24rem;
    width: 100%;
    padding: 1.2rem 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--color-light);
    transition: all 0.3s ease-in-out;
    background-color: var(--color-bg);
    }

    input[type='text']:focus,
    input[type='email']:focus,
    input[type='password']:focus,
    /* input.input[type='number']:focus, */
    input[type='text']:active,
    input[type='email']:active,
    input[type='password']:active/* ,
    input.input[type='number']:active, 
    select.input,
    textarea.input:focus,
    textarea.input:active*/ {
    outline: none;
    border: 2px solid var(--color-main);
    }
</style>

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <!-- Comment out back button -- <a class="backButton" href="#"><i class="im im-angle-left"></i></a> -->
            <h3> Enter New Password </h3>

            <!-- <br> <br> -->

            <p> <span>Please enter your new password twice so we can verify you typed it in correctly </span></p>

            <br>    <br> 

            <form class="form" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input  class="btn btn--sub btn--lg  my-md" type="submit" value="Submit"  />
            </form>
        </div>
    </div>
</main>

{% endblock content %}
