{% extends 'main.html' %}

{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <!-- Comment out back button -- <a class="backButton" href="#"><i class="im im-angle-left"></i></a> -->
            <h3>  Password Reset Complete </h3>

            <!-- <br> <br> -->

            <p> 
                <span>
                    Your password has been set. You may go ahead and login now.
                    <br>
                    <a href="{% url 'loginlink' %}">Login   </a>
                </span>
            </p>

            <br>    <br> 


        </div>
    </div>
</main>

{% endblock content %}